<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136871267569-1farch34a5bso9gv74h1g698npd607gd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136871267569-1farch34a5bso9gv74h1g698npd607gd</string>
	<key>API_KEY</key>
	<string>AIzaSyDZZL-qpyDmdmgWNXPcF03IP3b_ZdDbxik</string>
	<key>GCM_SENDER_ID</key>
	<string>136871267569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GRAM.GRAMO.GRAMO</string>
	<key>PROJECT_ID</key>
	<string>gramo-9c885</string>
	<key>STORAGE_BUCKET</key>
	<string>gramo-9c885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136871267569:ios:53db3ad5f54d7256592d50</string>
</dict>
</plist>